<h1>Registrar Pedido</h1>

<% if @order.errors.any? %>
<p>Verifique os erros abaixo</p>
  <ul>
    <% @order.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <%end%>
  </ul>
<% end %>

<%= render 'form' %>