<h1>Novo Galpão</h1>

<% if @warehouse.errors.any? %>
<p>Verifique os erros abaixo</p>
  <ul>
    <% @warehouse.errors.full_messages.each do |msg| %>
      <li><%= msg%></li>
    <%end%>
  </ul>
<% end %>

<%= render 'form'%>